<h1 class="visibility-hidden">{{ t 'community'}}</h1>
<section class="section hero community-hero">
<h2 class="visibility-hidden">{{ t 'search'}}</h2>
<div class="hero-inner">{{search submit=false class='search search-full' scoped=settings.scoped_community_search}}</div>
</section>

<div class="container"> <!-- <nav class="sub-nav">{{breadcrumbs}}</nav><header class="page-header community-header"> removed sub nav -->
<!-- <h2 class="title">{{t 'community_topics'}}</h2> ***** community topics text - remmoved *****/-->
<span class="dropdown"><span class="dropdown-menu" role="menu"> <!{{#link 'topics' role='menuitem' selected='true'}} {{t 'show_topics'}} {{/link}} {{#link 'posts' role='menuitem'}} {{t 'show_all_posts'}} {{/link}} </span></span><span class="post-to-community"> {{link '//new_post' class='button button-large'}} </span></header>{{#unless topics}}
<p>{{t 'no_content'}}</p>
  
{{/unless}} {{pagination}}

<p><strong>Below are the key issues that are being tracked, please click a post below to join the conversation or scroll down to raise a new one</strong></p>
<p>&nbsp;</p>
<p>{{#if featured_posts}}</p>
<section class="section community-f-posts">
<h2><span style="background-color: #0000ff; color: #ffffff;">{{t '//featured_posts'}}</span></h2> <!--/***** featured posts text - remmoved *****/-->
<ul class="promoted-articles">{{#each featured_posts}}
<li class="promoted-articles-item">
<h2 style="text-align: center;"><span style="color: #ff0000;"><a style="color: #ff0000;" href="{{url}}"> {{title}} </a></span></h2>
</li>
{{/each}}</ul>
</section>

{{/if}}
<!-- Removed Community updates page <section class="community-activity activity">{{#if help_center.community_enabled}} {{recent_activity scope='community'}} {{/if}}</section>
<section class="container community-footer">
<h2 class="community-footer-title">{{t 'suggest_new_post'}}</h2> -->
{{link 'new_post' class='button button-large'}}


