<!DOCTYPE html>
<div class="alertbox"></div>
<html>
  <head>
  </head>
  <body><br>
    <table cellspacing="10" cellpadding="1" border="0">
      <tbody>
        <tr>
          <td style="width:89px"><a class="skip-navigation" tabindex="1" href="#main-content">{{t
              'skip_navigation' }}</a>
            <header class="header">
              <div class="logo"> {{#link 'help_center'}} <img src={{settings.logo}}

                  alt="{{t 'home_page' name=help_center.name}}" /> {{#if
                settings.show_brand_name}} <span aria-hidden="true" style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif"><strong><span>
                      {{/if}} {{/link}} </span></strong></span></div>
              <strong> </strong></header>
          </td>
          <td style="width:89px"><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif"><strong><a

                  href="https://myzoneinternal.zendesk.com/hc/en-us/requests/new"><span

                    style="color:#000000">SUBMIT A TICKET</span></a></strong></span></td>
          <td><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif"><strong><a

                  href="https://myzoneinternal.zendesk.com/hc/en-us/requests"><span

                    style="color:#000000">MY TICKETS</span></a></strong></span></td>
          <td><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif"><strong><a

                  href="https://myzoneinternal.zendesk.com/hc/en-us/community/posts/7457272060685-How-to-report-an-issue"><span style="color:#FF3F0F;">REPORT AN ISSUE</span></a></strong></span></td>
          <td><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif"><strong><a

                  href="https://www.myzone.org/feedback"><span style="color:#000000">PRODUCT
                    FEEDBACK</span></a></strong></span></td>
          <td><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif"><strong><a

                  href="https://myzoneinternal.zendesk.com/hc/en-us/categories/4711512847757-SOPs"><span

                    style="color:#000000">SOPs</span></a></strong></span></td>
          <td>
            <p><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif"><strong><a

                    href="https://myzoneinternal.zendesk.com/hc/en-us"><span

                      style="color:#000000">PLACEHOLDER</span></a></strong></span></p>
          </td>
          <td><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif"><strong><a

                  href="https://myzonegroup.sharepoint.com/:f:/s/SupportGlobal794/EnbG3buuAOFNhl0JBLWP9OYBNGrQ0pxbyesBJdOO_6R6OQ?e=BGrcmL"><span style="color:#000000">RESOURCES</span></a></strong></span></td>
          <td> <header class="header">
  <div class="logo">
  </div>
  <div class="nav-wrapper">
    <button class="menu-button" aria-controls="user-nav" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-menu">
        <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13"/>
      </svg>
    </button>
    <nav class="user-nav" id="user-nav">
     </nav>
    {{#if signed_in}}
      <div class="user-info dropdown">
        <button class="dropdown-toggle" aria-haspopup="true">
          {{user_avatar class="user-avatar"}}
          <span class="hide-on-mobile">
            {{user_name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon" aria-hidden="true">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </span>
        </button>
        <div class="dropdown-menu" role="menu">
          {{my_profile role="menuitem"}}
          {{change_password role="menuitem"}}
          {{link "sign_out" role="menuitem"}}
        </div>
      </div>
    {{else}}
      {{#link "sign_in" class="sign-in"}}
        {{t 'sign_in'}}
      {{/link}}
    {{/if}} </div>
</header>
          </td>
        </tr>
      </tbody>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div style="left: 1039px; top: 8px; height: 50.5px;"></div>
  </body>
</html>
