<h1 class="article-title" title="Myzone Internal Help Desk"><img class="user-avatar" style="font-size: 14px; display: block; margin-left: 5px; margin-right: 5px;" 
src="https://myzonesupport.zendesk.com/system/photos/360247789451/IMG_1334.jpg" alt="" />Myzone Internal Help Desk&nbsp;</h1>
<h1 class="visibility-hidden" style="text-align: center;">{{ help_center.name }}</h1>
<section id="main-content" class="section hero">
<div class="hero-inner">
<h2 class="visibility-hidden">{{ t 'search' }}</h2>
{{search submit=false instant=settings.instant_search class='search search-full'}}</div>
</section>
<div style="text-align: center; " >
<p><strong>Below are the key issues that are being tracked, please click a post below to join the conversation or scroll down to raise a new one</strong></p>
<p>&nbsp;</p>
<p>{{#if featured_posts}}</p>
<section class="section community-f-posts">
<h2><span style="background-color: #0000ff; color: #ffffff;" >{{t '//featured_posts'}}</span></h2>
<!--/***** featured posts text - remmoved *****/-->
<ul class="promoted-articles">{{#each featured_posts}}
<li class="promoted-articles-item">
<h2 style="text-align: center;"><span style="color: #ff0000;"><a style="color: #ff0000;" href="{{url}}"> {{title}} </a></span></h2>
</li>
{{/each}}</ul>
</section>
<h2>{{/if}} {{t 'suggest_new_post'}}</h2>
{{link 'new_post' class='button button-large'}}</div>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>

<!-- Testing customer icons
<i class="fas fa-camera"></i>

<span class="material-icons">&#xe002;</span>
-->

<!-- Promoted articles block -->
<h2 style="font-size: 14px; display: block; margin-left: 5%; margin-right: 5%;">
<header class="article-header">
<div class="article-author"> 
<div class="article-meta">{{#if promoted_articles}}

<p><strong>Promoted articles</strong></p>   
<section class="articles"> 
<!--{{t 'promoted_articles'}} -->
<ul class="article-list promoted-articles">{{#each promoted_articles}}
<li class="promoted-articles-item"><a href="{{url}}"> {{title}} {{#if internal}} {{/if}} </a></li>
{{/each}}</ul>
</section>

<!--{{/if}} {{#if help_center.community_enabled}} {{/if}}
<section class="section home-section activity">{{#if settings.show_recent_activity}} {{recent_activity}} {{/if}}
<p>This portal is primarily to be used to request assistance from the support and development teams through a formal process, where all correspondence can be tracked and is subject to agreed service level requirements.</p>
</section> removed recent activity -->
</div>
</div>
</header>
<section class="article-info">
<div class="article-content">
<div class="article-body">
<p><strong>Features of the Internal Help Desk include: </strong></p>
<ul>
<ul>
<li>Submit and track internal support requests such as licensing, adding virtual videos, + more.</li>
<li>Search bar to look for existing product-based articles and FAQ’s</li>
<li>Community board with dedicated topics for product updates and bug fixes. You can follow specific product bugs to be notified when there is a fix. <span style="background-color: #ffffff; color: #ff0000;"><a style="background-color: #ffffff; color: #ff0000;" href="https://myzoneinternal.zendesk.com/hc/en-us/community/topics/5860572120205-New-Issue?sort_by=recent_activity"><strong>Visit here!</strong></a></span></li>
<li>Submit Product Feedback through the dedicated link.</li>
</ul>
</ul>
<p><strong>All employees outside of support should now start using this process, moving away from slack, asana, and one-to-one email.</strong></p>
<ul>
<ul>
<ul>
<li>Log in automatically with your teams account so no need to create a login - use your Microsoft email and password. </li>
<li>You can submit a request for the following</li>
<ul>
<li>Yellow Team Service Request (this <strong><u>is not</u></strong> a feature request, rather actions that have to be done by development such as adding videos or changing facility ID’s)</li>
<li>Support troubleshooting request (ticket submission on behalf of club if no email is present)</li>
<li>Questions relating to orders, shipping, general accounts including license payments</li>
<li>Support Service Request such as licensing consoles, adding meps to workouts etc</li>
</ul>
<li>Track all your tickets in one place for updates and follow-up</li>
<li>View product updates and get notified of bug fixes on the community board</li>
<li>Submit product feedback through the dedicated form</li>
</ul>
</ul>
</ul>
<p> </p>
<p> </p>
<h2><strong>Yellow Team Service Request (Non- SU Functions)</strong></h2>
<p>This is to be used to request product actions, typically on behalf of facilities, that can only be completed by the development team. Examples include:</p>
<ul>
<ul>
<ul>
<li>Assistance with integrations and API requests</li>
<li>General customer administration such as changing facility ID’s, bulk transfer of users, recalculating status rank etc</li>
</ul>
</ul>
</ul>
<p><strong>How</strong></p>
<p>Navigate to the top of the page and click on Submit Request and complete the form fields as required.</p>
<p><strong> </strong></p>
<p><strong>Who</strong></p>
<p>This form goes directly to the Yellow Team of Myzone Technical Experts who will confirm all the information is collected and generate an appropriate task</p>
<p> </p>
<h2><strong>Video Upload Request</strong></h2>
<p>Please check you have met the <a href="https://myzoneinternal.zendesk.com/hc/en-us/articles/8200982718349-Video-Upload-Requirements"><em>video upload requirements</em></a> and then submit </p>
<p> </p>
<h2><strong>Troubleshooting Request</strong></h2>
<p>This should be used to create a standard ticket with the support team where customer troubleshooting is required.</p>
<p>Typically this would be used when no email is present or has minimal information. This may be from a phone call or in-person with the customer who needs support.</p>
<p>This also replaces general support channels on Slack or Teams where requests are made.</p>
<p> </p>
<p><strong>If an email does come from a customer then continue to use the dedicated clubsupport@myzone.org email to submit a ticket. This ticket will also show in your activities on the internal help desk. Other brand-specific emails may also be used such as YMCA@, DavidLloyd@, concierge@, etc</strong></p>
<p><strong> </strong></p>
<p><strong>How</strong></p>
<p>Navigate to the top of the page and click on Submit Request and complete the form with the required details. Select priority based on urgency and customer.</p>
<p>The ‘Action Request’ should be completed as follows:</p>
<ul>
<ul>
<ul>
<li><strong>Contact Customer via Email: </strong>Support will email the customer from Zendesk and CC the Myzone employee who submitted the request.</li>
<li><strong>Contact Customer via Phone Call: </strong>Support will call the customer directly and respond to the Myzone employee with the outcome of the call via the original ticket.</li>
<li><strong>Resolve and inform me only: </strong>Support will attempt to resolve the issue without contacting the customer directly and inform the Myzone employee by responding to the original ticket</li>
</ul>
</ul>
</ul>
<p><strong>Who</strong></p>
<p>This form goes directly to the support team inbox</p>
<p> </p>
<h2><strong>Orders, Shipping, and Accounts</strong></h2>
<p>To be used for all requests for the accounts team that cover customer orders, shipping updates, and general customer account questions</p>
<p>This will also replace any slack channels that are dedicated to shipping, payments, licensing, and orders.</p>
<p><strong>How</strong></p>
<p>Select the Region to ensure the inquiry goes to the right team and the request type so the information can be tracked.</p>
<p> </p>
<p><strong>Who</strong></p>
<p>This will be routed straight to the regional accounts teams</p>
<p> </p>
<h2><strong>Support Service Request - Licensing, Myzone account Administration</strong></h2>
<p>This is to be used to request that the support team assist with a club request. These include:</p>
<ul>
<ul>
<ul>
<li>License a console</li>
<li>General myzone account admin actions such as adding MEPs, deactivating accounts, adding videos in Super User</li>
</ul>
</ul>
</ul>
<p><strong>How</strong></p>
<p>Select priority level based on the urgency of the request. Choose request type and complete the description of the request.</p>
<p> </p>
<p><strong>Who</strong></p>
<p>This will be sent to the full support team</p>
<p> </p>
<h2><strong>How to Follow Up On Your Ticket Requests</strong></h2>
<p>All tickets submitted through the internal help desk are displayed on the ‘My activities’ page under the user name.</p>
<p><img src="https://myzoneinternal.zendesk.com/hc/article_attachments/5659450415885/mceclip0.png" alt="mceclip0.png" /></p>
<p>Here you can check in on your tickets, add comments and respond to updates.</p>
<p>Tickets that are created by emailing any of the club support dedicated emails, will also appear in your activities.</p>
<p>If a ticket has not been responded to and you are looking for an update, please reference the ticket ID# with the Support Team in Microsoft Teams.</p>
<p> </p>
</div>
</div>
</section>